h1
{
    color: red;
    text-align: center;
    font-style: italic;
    font-size: 40px;
}
h2
{	
	color: red;
	text-align: center;
	font-size: 42px;
}
body
{
	background-image: url("etoile1.jpg");
    background-attachment: fixed;
}
figure
{
	text-align: center;
}
img
{
	height:auto;
	max-height: 50vh;
}
p
{
	color: white;
}/*
.intro{
	height:95vh;
}*/